/* header */
#header {
    padding: 15px 0 10px;
}

#header .navbar-big img.logo {
    max-width: 200px;
    width: 100%;
}

#header input {
    /* max-width: 350px; */
    width: 250px;
    height: 100%;
    padding: 0 10px;
    border: 0px solid #fff;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    border-radius: 0;
}

.hexa {
    position: relative;
    padding: 0 13px;
    height: 25px;
    z-index: 1;
}

.hexa:before, .hexa:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: url(../default/images/before-filter.svg);
}



.hexa:after {
    content: '';
    left: auto;
    right: 0;
    background-image: url(../default/images/after-filter.svg);
}
.more.hexa-plus i {
    background: #fff;
    padding: 2px 0;
    display: block;
}
.more.hexa-plus {
    padding: 0 4px;
    height: 15px;
    width: auto;
    cursor: pointer;
}
#header i.fas {
    font-size: 11px;
    color: #3c3c3a;
}

#header form.hexa .more {
    /* color: #fff; */
    position: absolute;
    left: 100%;
    top: 0;
}
.more.hexa-plus:before, .more.hexa-plus:after {
    width: 5px;
}

*:before, *:after {
    background-repeat: no-repeat;
}

#header .actions > a:hover {
    transform: scale(1.1);
}

.more.hexa-plus:hover {
    opacity: 0.9;
}

*:focus {
    outline: unset !important;
}

.hexa-plus:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: url(../default/images/before_plus.svg);
}
.hexa-plus:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    z-index: 2;
    background-image: url(../default/images/after_plus.svg);
}
#header form.hexa {
    height: 44px;
    /* width: calc(100% - 20px); */
    width: 100%;
    position: relative;
    z-index: 992;
}

#header #debt {
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
}

#header .debt-text {
    color: #fff;
    /* font-weight: bold; */
    font-size: 14px;
    line-height: 16px;
}

#header .debt-btn {
    background: #fff;
    width: 240px;
    margin-top: 6px;
    border-radius: 2px;
    border: 0;
}

#header .actions {
    display: flex;
    justify-content: flex-end;
    position: relative;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

#header .right-actions-block {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
}

#header .actions .likes {
    background-image: url(../default/images/likes.svg);
}
#header .actions .comparison {
    background-image: url(../default/images/comparison.svg);
}
#header .actions .cart {
    background-image: url(../default/images/cart.svg);
}
#header .actions a {
    background-repeat: no-repeat;
}
#header .actions > a {
    display: block;
    height: 46px;
    width: 48px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}

#header .right-actions-block--wrapper {
    width: 300px;
}

/* end header */
tbody img:hover {
    transform: scale(1.875);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transform: scale(1.875);
    -moz-transform: scale(1.875);
    -ms-transform: scale(1.875);
    -o-transform: scale(1.875);
}

tbody img {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

tbody tr:hover td, tbody tr:hover th {
    background-color: grey;
    color: #fff;
}

tbody tr:hover td .product-total{
    /* background-color: grey; */
    color: #000;
}


tbody tr td a {
    color: #000;
    text-decoration: underline;
}

tbody tr:hover a{
    color: #fff;
}

.nav.nav-tabs.nav-tabs-panel{
    margin-bottom: -10px;
}
.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link{
    color: #fff;
}

.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link:focus,
.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link:hover {
    color: #eee;
}

.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link.active{
    color: #2d353c;
}

.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link.active:focus,
.nav.nav-tabs.nav-tabs-panel .nav-item .nav-link.active:hover{
    color: #48596a;
}
.nav.nav-tabs.nav-tabs-primary{
    background-color: #1e7cd2;
}
.nav.nav-tabs.nav-tabs-primary .nav-item .nav-link {
    color: #fff;
}
.order-status{
    display: none;
}

.order-status.order-status-tab_active{
    display: block;
}

.widget-list .widget-list-item.widget-list-item_transparent{
    background: transparent;
}
#ui-datepicker-div{
    z-index: 5!important;
}
#page-container:not(.page-sidebar-minified) .sidebar .nav-manager{
    display: none;
}
.page-sidebar-minified .sidebar .nav>.nav-manager>a{
    padding: 10px 13.5px;
}
.debt{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 4px;
}
.news-content table{
    width: 100%!important;
}
.table-scroll-container{
    width: 100%!important;
}
.table-scroll-container table{
    min-width: 100%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.product-total{
    padding: 5px;
    text-align: right;
    font-weight: 700;
    background-color: #f0f0f0;
}
.product-total-limit_1{
    background-color: #FCAA3F;
    color: #ffffff;
}

.product-total-limit_2{
    background-color: #74C186;
    color: #ffffff;
}

/* social icons */

section.subscribe {
    max-width: 600px;
    margin: 50px auto 30px;
    color: #3c3c3a;
}

section.subscribe h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    max-width: 185px;
    margin: 20px auto 5px;
}

section.subscribe .flex {
    max-width: 350px;
    margin: auto;
}

section.subscribe .flex a {
    display: block;
    margin: 8px;
}

section.subscribe img {
    width: 100%;
}

header .actions > a:hover, section.subscribe a:hover {
    transform: scale(1.1);
}

/* footer */

#footer {
    background: #3c3c3a;
    color: #fff;
    padding-left: 220px;
}

#footer .container {
    padding: 50px 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1600px;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

#footer .container div {
    width: 22%;
}

#footer .container div h4 {
    font-size: 20px;
    padding: 5px 0;
    border-top: 3px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

#footer .container div a, footer .container div p > a:hover {
    color: #fff;
    text-decoration: underline;
}

#footer .container div > a, footer .container div p {
    display: block;
    margin: 15px 0;
}

.copyright {
    background: #262626;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    color: #fff;
}

.copyright span {
    padding-left: 20px;
    font-size: 12px;

}


@media screen and (max-width: 1280px){

    .table-scroll-container{
        display: block;
        width: 100%!important;
        overflow-x: scroll;
    }
    .news-content table{
        overflow-x: auto!important;
    }
    .pagination{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px){
    .debt{
        width: 100%;
        margin-top: 0;
    }
}
