/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/images
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
leomark_db2.sql
composer.lock
php.txt
.gitignore
/public
